org: camilaespinoza
service: pedidos-api

provider:
  name: aws
  runtime: python3.9
  memorySize: 256
  timeout: 30
  iam:
    role: arn:aws:iam::955049055565:role/LabRole
  environment:
    STAGE: ${opt:stage, 'dev'}
    PEDIDOS_TABLE: ${self:service}-${self:provider.environment.STAGE}-pedidos
    MENU_TABLE: ${self:service}-${self:provider.environment.STAGE}-menu
    LOCALES_TABLE: ${self:service}-${self:provider.environment.STAGE}-locales
    SQS_QUEUE: ${self:service}-${self:provider.environment.STAGE}-pedidos-queue

custom:
  sqsQueueName: ${self:provider.environment.SQS_QUEUE}
  sqsDLQName: ${self:provider.environment.SQS_QUEUE}-dlq

functions:
  login:
    handler: lambdas.auth.login.lambda_handler
    events:
      - http:
          path: /auth/login
          method: post
          cors: true

  register:
    handler: lambdas.auth.register.lambda_handler
    events:
      - http:
          path: /auth/register
          method: post
          cors: true

  autorizador:
    handler: lambdas.autorizador.lambda_handler

  registro:
    handler: lambdas.pedidos.registro.lambda_handler
    events:
      - http:
          path: /order
          method: post
          cors: true
          authorizer: autorizador

  status:
    handler: lambdas.pedidos.status.lambda_handler
    events:
      - http:
          path: /status
          method: get
          cors: true
          authorizer: autorizador

  procesamiento:
    handler: lambdas.procesamiento.procesamiento.lambda_handler
    events:
      - sqs:
          arn:
            'Fn::GetAtt': [ PedidosQueue, Arn ]

  menu:
    handler: lambdas.menu.menu.lambda_handler
    events:
      - http:
          path: /menu
          method: get
          cors: true
          authorizer: autorizador

  locales:
    handler: lambdas.inicializar_datos.lambda_handler
    events:
      - http:
          path: /locales/init
          method: post
          cors: true
          authorizer: autorizador

resources:
  Resources:
    PedidosTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.PEDIDOS_TABLE}
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
          - AttributeName: storeId
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        GlobalSecondaryIndexes:
          - IndexName: StoreIndex
            KeySchema:
              - AttributeName: storeId
                KeyType: HASH
            Projection:
              ProjectionType: ALL

    MenuTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.MENU_TABLE}
        AttributeDefinitions:
          - AttributeName: productId
            AttributeType: S
          - AttributeName: store
            AttributeType: S
        KeySchema:
          - AttributeName: productId
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        GlobalSecondaryIndexes:
          - IndexName: StoreMenuIndex
            KeySchema:
              - AttributeName: store
                KeyType: HASH
            Projection:
              ProjectionType: ALL

    LocalesTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.LOCALES_TABLE}
        AttributeDefinitions:
          - AttributeName: storeId
            AttributeType: S
        KeySchema:
          - AttributeName: storeId
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    PedidosQueue:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: ${self:custom.sqsQueueName}
        VisibilityTimeout: 300
        RedrivePolicy:
          deadLetterTargetArn: !GetAtt PedidosDLQ.Arn
          maxReceiveCount: 3

    PedidosDLQ:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: ${self:custom.sqsDLQName}
        MessageRetentionPeriod: 1209600

  Outputs:
    ApiUrl:
      Description: "URL del API Gateway"
      Value: !Sub "https://${ApiGatewayRestApi}.execute-api.${AWS::Region}.amazonaws.com/${sls:stage}"
